.tt-menu {
 @extend .tt-dropdown-menu;
}

.tt-suggestion.tt-selectable:hover {
  @extend .tt-suggestion.tt-cursor;
}

.dropdown-toggle::after {
    display:none
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: $gray-600;
}
